* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.commentsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  /* min-height: 100vh; */
  margin: 30px;
}
h1 {
  text-align: left;
}
.commentsBoxContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70%;
}
.formSubmit .form-control {
  display: block;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  width: 300px;
}
.formSubmit button {
  background-color: #0284c7;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.commentsDetailsContainer {
  margin-top: 30px;
  border-top: 1px solid #ccc;
  padding-top: 20px;
}
.nameDetails div {
  display: flex;
  align-items: center;
}
.commentsBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.commentsDetailsContainer p {
  margin: 3px;
}
.commentsCount {
  background-color: #0284c7;
  color: #fff;
  padding: 1px 8px 3px 8px;
}
.likebtn {
  color: #b4a1a1;
}
.like-active {
  color: #0284c7;
}
.commentsBox {
  margin-top: 40px;
  border-bottom: 1px solid #e5dede;
  padding-bottom: 10px;
}

.initial-container {
  color: #fff;
  border-radius: 50%;
  padding: 7px 13px;
  margin-right: 5px;
}
.amber {
  background-color: #f59e0b;
}

.blue {
  background-color: #0b69ff;
}

.orange {
  background-color: #f97316;
}

.emerald {
  background-color: #10b981;
}

.teal {
  background-color: #14b8a6;
}

.red {
  background-color: #b91c1c;
}

.light-blue {
  background-color: #0ea5e9;
}

.commentTime {
  color: #645b5b;
  font-size: 11px;
  margin-left: 25px !important;
}
.like-btn {
  background-color: transparent;
  border: none;
}
.delete-btn {
  background-color: transparent;
  border: none;
}

ul {
  list-style: none;
  padding: 0px;
}
